<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3"><strong>About Peruse</strong></h1>
        </header>

        <!-- Page Features -->
        <section class="row justify-content-md-center text-center">

          <section class="col">
            <h4>Reddit Clone with Node.js</h4>
            <p>Peruse is my first project with Node. Designed to be a Reddit clone, I thought the name "Peruse" fit for looking through topics and scrolling through posts on those topics.</p>
          </section>
          <section class="col">
            <h4>What to do on Peruse</h4>
            <p>Sign up to have a login and return to check on your posts and comments! You can look through the created topics and post under any topic that you would like. Comment on any posts that you see and make sure to check out the code on GitHub or read more on <a href="https:/benthompson.online" target="_blank">my website</a>.</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>